<div class="row">
    <div class="col-md-12 border-div">
        <table class="table table-hover table-borderless shadow bg-white table-striped table-sm ">
            <thead>
                <tr class="table-header shadow-sm">
                    <th scope="col">Usuario</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Segundo Nombre</th>
                    <th scope="col">Apellido Paterno</th>
                    <th scope="col">Apellido Materno</th>
                    <th scope="col">Password</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody *ngIf="users | async as users">
                <tr *ngFor="let users of users">
                    <th scope="row">
                        <a>
                            <img class="mx-auto rounded-circle user-photo" [src]="users.imagePath" alt="">
                        </a>
                    </th>
                    <td>
                        <a [routerLink]="[ '/profile', users.uid]">{{users.firstName}}</a>
                    </td>
                    <td>{{users.secondName}}</td>
                    <td>{{users.lastName}}</td>
                    <td>{{users.motherLastName}}</td>
                    <td>{{users.password}}</td>
                    <td>{{users.active}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>