.table-header {
    background-color: #f8f9fc;
    color: #4e73df;
    font-weight: 700;
    
}

.table-link {
    color: #64a0ed;
    cursor: pointer;
}

.border-div {
    border-radius: 25%;
}

.communication-table {
    height: 300px;
    overflow: scroll;
}

.user-photo {
    width: 30px;
    height: 30px;
}

a {
    cursor: pointer;
    color: #039be5;
}

i {
    color: #039be5;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 24px;
    cursor: pointer;
  }

  span {
      font-size: 14px;
  }

.fa-star {
  color: #FFED85;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14px;
}

.fa-pause-circle {
    font-size: 28px;
    color: yellow;
}

.fa-comments {
    font-size: 28px;
    color: green;
}

.fa-check-circle {
    font-size: 28px;
    color: blue;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #f6f6f6;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #f6f6f6;
}

#cards{
    width: 30%;
}