<div *ngIf="paystub | async as paystub ">
    <table datatable class="row-border hover shadow-sm">
        <thead>
            <tr class="table-header shadow-sm">
                <th scope="col">Emisor RFC</th>
                <th scope="col">Emisor</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Importe</th>
                <th scope="col">Decuento</th>
                <th scope="col">Fecha de Timbre</th>
                <th scope="col">Recibo PDF</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let paystub of paystub">
                <td>{{paystub.EmisorRfc}}</td>
                <td>{{paystub.EmisorNombre}}</td>
                <td>{{paystub.Descripcion}}</td>
                <td class="percepciones text-center">${{paystub.Importe}}</td>
                <td class="deducciones text-center">${{paystub.Descuento}}</td>
                <td class="text-center">{{paystub.FechaTimbre | date:'MM/dd/yyyy'}}</td>
                <td class="text-center">
                    <a (click)="getPdfPaystub($event)" #pdfLink hidden >{{paystub.UUID}}</a>
                    <i class="fas fa-cloud-download-alt" (click)="pdfLink.click()" *ngIf="!paystubPdf"></i>
                    <a *ngIf="paystubPdf | async as paystubPdf" [href]="paystubPdf">
                        <i class="far fa-file-pdf"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</div>