<div class="container-fluid">
    <div class="row">
        <!-- <div class="col-xl-3 col-md-6 mb-4 col-sm-12">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-item-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Crear Ticket</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">5</div>
                        </div>
                        <div class="col-auto">
                            <i class="material-icons">
                                add_box
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4 col-sm-12">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-item-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Tickets Abiertos
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">5</div>
                        </div>
                        <div class="col-auto">
                            <i class="material-icons">
                                priority_high
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4 col-sm-12">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-item-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Tickets Cerrados
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">5</div>
                        </div>
                        <div class="col-auto">
                            <i class="material-icons">
                                archive
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4 col-sm-12">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-item-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Foro</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">5</div>
                        </div>
                        <div class="col-auto">
                            <i class="material-icons">
                                feedback
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
   
    <div class="pt-4">
        <h4>Tickets</h4>
        <a class="btn btn-primary text-white mb-2" data-toggle="modal" data-target="#newTickeModal">
            <span>Nuevo Ticket</span>
        </a>
        <app-ticket-list></app-ticket-list>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newTickeModal" tabindex="-1" role="dialog" aria-labelledby="newTickeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <app-create-ticket></app-create-ticket>
        </div>
    </div>
</div>