<div class="container-fluid">
    <div class="pt-4">
        <a class="btn btn-primary text-white mb-2 btn-sm" data-toggle="modal" data-target="#newTickeModal">
            <span>Nuevo Ticket</span>
        </a>
        <app-ticket-list></app-ticket-list>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newTickeModal" tabindex="-1" role="dialog" aria-labelledby="newTickeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <app-create-ticket></app-create-ticket>
        </div>
    </div>
</div>