<!--TITLE -->
   <div class="modal-header" id="header">
    <h5 class="modal-title" id="newUserModalLabel">Nueva Publicacion</h5>
    <i class="fas fa-plus"></i>
   </div>

   <div class="modal-body"  >
    <form class="form-horizontal" #newCommunication="ngForm" (submit)="onSubmit(newCommunication)" id="formContent">
        <div class="alert alert-danger" role="alert" *ngIf="error">     
            {{ error }}
        </div>
        <div class="alert alert-success" role="alert" *ngIf="result">    
            {{ result }}
        </div>
        <!--CREAR PUBLICACION -->
        <div class="form-group" >
            <div class="col-md-12">
                <input type="text" class="form-control" id="title" name="title" placeholder="Titulo" ngModel>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <textarea class="form-control" id="description" name="description" rows="3" placeholder="Descripcion"
                    ngModel></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="custom-file">
                    <input type="file" #fileInput (change)="fileChange($event)" class="custom-file-input" id="file"
                        accept=".png,.jpg">
                    <label class="custom-file-label" for="file">Seleccionar Imagen</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="role" class="col-12">Seleccionar Cuenta</label>
            <div class="col-md-12">
                <select class="form-control" id="account" name="account" placeholder="Cuenta" ngModel
                    placeholder="Seleccionar Cuenta">
                    <option *ngFor="let account of accounts" [value]="account">{{account}}</option>
                </select>
            </div>
        </div>
        <div class="form-group" hidden>
            <div class="col-md-12">
                <div class="form-group" *ngIf="downloadURL | async; let srcURL">
                    <input type="text" class="form-control" id="imagePath" value="{{srcURL}}" name="imagePath"
                        [ngModel]="srcURL" readonly>
                </div>
            </div>
        </div>
        
         
        


        <div class="modal-footer" id="bottom">
            <button type="submit" class="btn btn-primary" (click)="modalClose()">Publicar</button>
        </div>

    </form>
</div>